
/*===== GLOBAL =========================*/

  body           { font-family: sans-serif;  font-size: 1.2em; padding: 20px; overflow-x: hidden;}

  h1             { display: inline-block; font-size: 1em;}

  h2,h3,h4,h5,h6 { font-size: 1em; }
  h3             { margin-bottom: 20px; }

  a { color:black; }

.img-box { background-color: black; max-width: 600px; position: relative;}
.foto-ra { width: 100%; mix-blend-mode: hard-light; }
.bounce { position: absolute;
    border-radius: 1000px;

    z-index: -1;     background: linear-gradient(#fca597,#f78a79); left: 23%;
    top: 0;
    height:500px;
    width: 500px; -webkit-animation: pulse 2s ease-in-out infinite alternate;
    animation: pulse 2s ease-in-out infinite alternate;}

@keyframes pulse {
  0% {
    top: 40px;
  }
  100% {
    top:0px;
  }
}

/*===== NAVIGATION =========================*/


  h2              { padding-left: 0; padding-right: 20px; margin-bottom: 25px; margin:0 auto; display: inline; position: relative; z-index: 1; background: white; font-style: italic;}
  hr              { border-top:2px dashed #000; margin:0 20px; }
  hr.up           { position: relative; top:-11px; z-index: 0; margin-bottom: 0px; z-index: 0; }



/*===== MAIN =========================*/

  main           { margin: 20px; padding-bottom: 20px; }
  main a         { text-decoration: underline; display: inline-block;}
  main ul        { padding: 0;  }
  main ul li     { list-style-type: none; padding: 0; margin: 0; margin-bottom: 20px; display: block;}
  main ul li:before     { border: 1px dashed black; content: '.'; color:transparent; text-align: center; width: 15px;  margin-right: 20px; margin-left: 0; display: inline-block;}
  main article section                 { margin-bottom: 20px; padding-bottom: 20px; }
  main article section:first-child     { margin-top: 20px; padding-top: 20px;}





@media (max-width: 768px) {


}
